#s-733ef730-0fa4-42e1-a890-fc590d223d1d #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-733ef730-0fa4-42e1-a890-fc590d223d1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}