#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Label_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Label_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-78b9ae76-a895-45eb-b7b7-d4173b08152b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}