<!--inner-container-->
<div class="row mt-3 create_new_company">
    <div class="container">
        <!--title-->
        <div class=" row-div">
            <div class="title_col">
                <a href="javascript:void(0);" class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
            </div>

            <ul class="subm">
                <li>Entity Management <a href="">/</a> </li>
                <li>Company <a href="">/</a> </li>
                <li><a href="">Add </a></li>

            </ul>
            <!-- <h1 class="heading">Create a New Company</h1> -->
        </div>
        <!--/title-->

        <!--data-section-->
        <div class="data_section row-div">
            <div class="data_title row-div">
                <h3>New Company Setup</h3>
            </div>
            <div class="data_inner row-div">
                <div class="table-form">
                    
                </div>
                    <div class="table-resposive">
                        <table class="w-100 table table-hover">
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <!--/data-section-->


    </div>
</div>
<!--/inner-container-->