<!--template-feature-4-circle-->
<div class="user-feature-row row-div">
        <div class="container">
            <div class="row">    
                <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6   text-center">
                    <div class="dash-box bg-success">
                        <h3>Roles</h3>
                        <figure><img src="assets/images/overview-enterprise.png" alt=""></figure>
                        <ul class="pl-0 dash-link d-flex">
                            <li class="col"><a href=""><img src="assets/images/">Add </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Edit </a></li>
                            <li class="col"><a href=""><img src="assets/images/">View </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Assign </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6   text-center">
                    <div class="dash-box bg-danger">
                        <h3>Users</h3>
                        <figure><img src="assets/images/overview-organization.png" alt=""></figure>
                        <ul class="pl-0 dash-link d-flex">
                            <li class="col"><a href=""><img src="assets/images/">Add </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Edit </a></li>
                            <li class="col"><a href=""><img src="assets/images/">View </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Assign </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 offset-lg-2 col-lg-4 offset-md-1 col-md-6    text-center">
                    <div class="dash-box bg-secondary">
                        <h3>Users</h3>
                        <figure><img src="assets/images/overview-department.png" alt=""></figure>
                        <ul class="pl-0 dash-link d-flex">
                            <li class="col"><a href=""><img src="assets/images/">Add </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Edit </a></li>
                            <li class="col"><a href=""><img src="assets/images/">View </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Assign </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6   text-center">
                    <div class="dash-box bg-warning">
                        <h3>Users</h3>
                        <figure><img src="assets/images/overview-group.png" alt=""></figure>
                        <ul class="pl-0 dash-link d-flex">
                            <li class="col"><a href=""><img src="assets/images/">Add </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Edit </a></li>
                            <li class="col"><a href=""><img src="assets/images/">View </a></li>
                            <li class="col"><a href=""><img src="assets/images/">Assign </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END-template-feature-4-circle-->