<!--inner-container-->
<div class="row mt-3 create_new_company">
	<div class="container">
		<!--title-->
		<div class=" row-div">
			<div class="title_col">
				<a href="javascript:void(0);" class="back_btn"><i class="fa fa-mail-reply"></i> Back</a>
			</div>

			<ul class="subm">
				<li>Entity Management <a href="">/</a> </li>
				<li>Company <a href="">/</a> </li>
				<li><a href="">Add </a></li>
			</ul>
			<!-- <h1 class="heading">Create a New Company</h1> -->  
		</div>
		<!--/title-->  

		<!--data-section-->
		<div class="data_section row-div">
			<div class="data_title row-div">
				<h3>New Company Setup</h3>
			</div>
			<div class="data_inner row-div">
				<div class="row">
					<!--left-sidebar-->
					<div class="col-12 col-lg-3 left_sidebar">
						<div class="sidebar">
							<h3>My Company</h3>
							<div class="left-men-u">
								<div id="accordion">
									<div class="card">
										<div class="card-header">
											<a class="card-link" data-toggle="collapse" href="#collapseOne">
												<img src="assets/images/enterprise.svg" alt="" srcset="">
												COMPANY<span><i class="fa fa-angle-down"></i></span>
											</a>
										</div>
										<div id="collapseOne" class="collapse show" data-parent="#accordion">
											<ul class="card-body">
											   <li>
												   <a class="card-link"><img src="assets/images/enterprise.svg" alt="" srcset="">
													ADD COMPANY	</a>
												</li>
											   <li>
												   <a class="card-link"><img src="assets/images/enterprise.svg" alt="" srcset="">
													VIEW COMPANY</a>
												</li>
											   <li>
												   <a class="card-link"><img src="assets/images/enterprise.svg" alt="" srcset="">
													EDIT COMPANY</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
												<img src="assets/images/enterprise.svg" alt="" srcset="">ORGANIZATIONAL
												UNIT<span><i class="fa fa-angle-right"></i></span>
											</a>
										</div>
										<div id="collapseTwo" class="collapse" data-parent="#accordion">
											<div class="card-body">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
												veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
												commodo consequat.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
												<img src="assets/images/enterprise.svg" alt=""
													srcset="">DEPARTMENT<span><i class="fa fa-angle-right"></i></span>

											</a>
										</div>
										<div id="collapseThree" class="collapse" data-parent="#accordion">
											<div class="card-body">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
												veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
												commodo consequat.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
												<img src="assets/images/enterprise.svg" alt="" srcset="">USER
												GROUPS<span><i class="fa fa-angle-right"></i></span>
											</a>
										</div>
										<div id="collapseFour" class="collapse" data-parent="#accordion">
											<div class="card-body">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
												veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
												commodo consequat.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--right_container-->
					<div class="col-12 col-lg-9 right_container">
						<form [formGroup]="createCompanyForm" class="inner_content row-div"
							(ngSubmit)="createCompanySubmit()">
							<div class="create_company_form global_form">
								<h3>General</h3>
								<div class="form-group name_field">
									<label class="label_field">Company Name</label>
									<div class="controls_field">
										<input type="text" class="form-control" required name="companyName"
											formControlName="companyName" placeholder="Enter the company name">
										<small *ngIf="submitted && fConrols.companyName?.errors" class="text-danger">
											<div *ngIf="fConrols.companyName?.errors?.required">&#x26A0; Company name is
												required</div>
										</small>
									</div>

								</div>
								<div class="form-group location_field form-group2">
									<label class="label_field">Location</label>
									<div class="controls_field">
										<div class="form-group lavel_1">
											<select class="form-control" required formControlName="location"
												name="location">
												<option value="0">United Arab Emirates</option>
											</select>
											<small *ngIf="submitted && fConrols.location?.errors" class="text-danger">
												<div *ngIf="fConrols.location?.errors?.required">&#x26A0; Company name
													is
													required</div>
											</small>
										</div>
										<div class="form-group lavel_2">
											<select class="form-control" required formControlName="location1"
												name="location1">
												<option value="0">Emirates NBD Group Company</option>
											</select>
											<small *ngIf="submitted && fConrols.location1?.errors" class="text-danger">
												<div *ngIf="fConrols.location1?.errors?.required">&#x26A0; Company name
													is
													required</div>
											</small>
										</div>

									</div>
								</div>

								<div class="form-group comp_logo_field">
									<h3>Company Logo</h3>
									<p>Select an image file on your computer (4MB max)</p>
									<div class="browse_file">
										<div class="custom-file">
											<input type="file" required class="custom-file-input" formControlName="logo"
												name="logo">
											<label class="custom-file-label" for="customFile">
												<img src="assets/images/browse_file.png" alt="">
											</label>
											<small *ngIf="submitted && fConrols.logo?.errors" class="text-danger">
												<div *ngIf="fConrols.logo?.errors?.required">&#x26A0; Company logo is
													required</div>
											</small>
										</div>
									</div>
								</div>

								<div class="form-group comp_detail">
									<h3>Details</h3>
									<div class="form-group adrs_field">
										<label for="" class="label_field">Company Address</label>
										<div class="controls_field">
											<textarea class="form-control" formControlName="companyAddress"
												placeholder="Enter the company address"></textarea>
											<small *ngIf="submitted && fConrols.companyAddress?.errors"
												class="text-danger">
												<div *ngIf="fConrols.companyAddress?.errors?.required">&#x26A0; Company
													Address is required</div>
											</small>
										</div>
									</div>
									<div class="form-group city_field">
										<label for="" class="label_field">City</label>
										<div class="controls_field">
											<input type="text" formControlName="city" name="city" class="form-control"
												placeholder="Enter the city name">
											<small *ngIf="submitted && fConrols.city?.errors" class="text-danger">
												<div *ngIf="fConrols.city?.errors?.required">&#x26A0; City name is
													required
												</div>
											</small>
										</div>
									</div>
									<div class="form-group state_field">
										<label for="" class="label_field">State</label>
										<div class="controls_field">
											<input type="text" formControlName="state" name="state" class="form-control"
												placeholder="Enter the state name">
											<small *ngIf="submitted && fConrols.state?.errors" class="text-danger">
												<div *ngIf="fConrols.state?.errors?.required">&#x26A0;State name is
													required
												</div>
											</small>
										</div>
									</div>
									<div class="form-group zipcode_field">
										<label for="" class="label_field">Zipcode</label>
										<div class="controls_field">
											<input type="text" formControlName="zipcode" name="zipcode"
												class="form-control" placeholder="Enter the ZIP code">
											<small *ngIf="submitted && fConrols.zipcode?.errors" class="text-danger">
												<div *ngIf="fConrols.zipcode?.errors?.required">&#x26A0;ZIP code is
													required
												</div>
											</small>
										</div>
									</div>
									<div class="form-group phone_field">
										<label for="" class="label_field">Phone Number</label>
										<div class="controls_field">
											<input type="text" formControlName="phoneNumber" name="phoneNumber"
												class="form-control" placeholder="Enter the phone number">
											<small *ngIf="submitted && fConrols.phoneNumber?.errors"
												class="text-danger">
												<div *ngIf="fConrols.phoneNumber?.errors?.required">&#x26A0;Phone number
													is
													required</div>
											</small>
										</div>
									</div>
									<div class="form-group contact_field">
										<label for="" class="label_field">Contact Person</label>
										<div class="controls_field">
											<input type="text" class="form-control" name="contactPerson"
												formControlName="contactPerson"
												placeholder="Enter the contact person name">
											<small *ngIf="submitted && fConrols.contactPerson?.errors"
												class="text-danger">
												<div *ngIf="fConrols.contactPerson?.errors?.required">&#x26A0;Contact
													person
													name is required</div>
											</small>
										</div>
									</div>
								</div>

							</div>
							<div class="tfooter_btn_col">
								<button type="button" class="btn btn-cancel"><i class="fa fa-close"></i> Cancel</button>
								<button type="submit" class="btn btn-save"><i class="fa fa-check"></i> Save</button>
							</div>

						</form>
					</div>
					<!--/right_container-->
				</div>
			</div>

		</div>
		<!--/data-section-->


	</div>
</div>
<!--/inner-container-->